@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #282828;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    height: 100%;
    /* overflow-x: hidden; */
}

body {
    font-family: 'Noto Sans KR';
    color: #282828;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    height: 100%;
}


/* 공통요소 */
.inner {
    position: relative;
    display: block;
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
}


/* 레이아웃 */
.wrap {
    position: relative;
    display: block;
    height: 100%;
}


/* 상단 */
.header {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100px;
    z-index: 9999;
    transition: height 0.5s, background 0.5s;
}

.mb-nav-list,
.mb-nav {
    display: none;
}

.header .inner {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    height: 100%;
}

.logo {
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/logoWhite.png) no-repeat center;
    background-size: auto;
    margin: 0 50px;
    /* position: absolute;
    left: 100px; */
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-width: 500px;

}

.gnb {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    font-weight: 500;
    overflow: hidden;
    transition: height 0.2s, background 0.5s;

}

.gnb:hover {
    height: 410px;
    background-color: #101e34;
}

.english {
    width: 10.4167vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 50px;
    /* position: absolute;
    right: 100px; */
    transition: all 0.3s;
}

.gnb li {
    width: 7.0313vw;
    min-width: 80px;
    margin-top: 40px;
    text-align: center;
}

.gnb li a,
.english {
    color: #fff;
}

.sub-menu {}

.sub-menu li {
    margin: 35px 0;
}

.sub-menu li a {
    font-size: 1.1rem;
    font-weight: 400;
}

/* 서브메뉴 숨기기 */
.gnb li ul {
    /* display: none; */
    margin-top: 40px;
}

/* 서브메뉴 보이게하기 */
.gnb li:hover ul {
    display: block;
}

/* 상단 메뉴 반응형 */
@media screen and (max-width:1024px) {
    .nav {
        display: none;
    }

    .mb-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .mb-bt {
        width: 100px;
        height: 95px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        padding: 30px 30px;
        cursor: pointer;
        z-index: 9999;

    }

    .mb-bt span {
        display: block;
        width: 40px;
        height: 5px;
        background: #fff;
        border-radius: 2px;
        transition: transform 0.5s ease-in-out;
    }

    .mb-bt span:nth-child(odd) {
        width: 27px;
    }

    .logo {
        margin: 0 10px;

        z-index: 9999;
    }

    .english {
        margin: 0;
        position: absolute;
        right: 130px;
    }

    .mb-nav-gnb {
        width: 100%;
        height: 100vh;
        padding: 140px 100px;
    }

    .mb-nav-gnb li {
        display: block;
        padding: 50px 0;
        text-align: center;
    }

    .mb-nav-gnb li a {
        color: #fff;
        font-size: 1.5rem;
    }

    /* mb-bt 눌렀을때 변화 .active */
    .mb-nav-list {
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #101e34;
        transition: left 0.3s ease-in-out;
    }

    .mb-nav-list.active {
        left: 0;
    }

    .mb-bt.active span:nth-child(odd) {
        display: none;

    }

    .mb-bt.active span:nth-child(2) {
        transform: rotate(45deg);
        position: absolute;
        top: calc(50% - 2px);
    }

    .mb-bt.active span:nth-child(4) {
        transform: rotate(-45deg);
        position: absolute;
        bottom: calc(50% - 2px);
    }
}

@media screen and (max-width:768px) {
    .english {
        right: 100px;
    }
}



/* 비주얼 */
.visual {
    position: relative;
    display: block;
    background: url(../img/bg.jpg) no-repeat right bottom;
    background-color: #647694;
    background-size: auto;
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;

}

.visual .inner {
    max-width: 1920px;
    height: 100%;
}

.visual-bg-basic {
    background: url(../img/bg.jpg) no-repeat right bottom;
    background-size: auto;
    width: 75%;
    height: 88.5%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 150px 0 0 0;
}

.visual-bg-txt {
    font-size: 2.4rem;
    line-height: 1.25;
    color: #fff;
    position: absolute;
    top: 60%;
    left: -13%;
    transition: all 0.2s;
}

.visual-bg-txt h2::after {
    content: "";
    display: block;
    position: absolute;
    top: -110px;
    width: 250px;
    height: 10px;
    background: #fff;
    transition: 0.3s;
}


/* 비주얼 반응형 */

@media screen and (max-width:768px) {
    .visual-bg-txt h2 {
        margin-right: 0;
    }

    .visual-bg-txt {
        font-size: 2rem;
        line-height: 1.25;
    }

    .visual-bg-txt h2::after {
        width: 32.5521vw;
        top: -14.3229vw;
    }


}

@media screen and (max-width:620px) {
    .visual-bg-txt {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:560px) {
    .visual-bg-txt {
        font-size: 1.55rem;
    }
}



/* 정보 */
.info {
    position: relative;
    display: block;
    width: 100%;
    /* height: 100%; */
    background: darkgoldenrod;
}



.info-top {
    width: 100%;
    height: 400px;
    background: darkgrey;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.info-title-1 {
    width: 230px;
    height: 170px;
    background-color: darkgreen;
}

.info-title-top {
    font-size: 28px;
    font-weight: 600;
    margin: 35px 0;
    text-decoration: overline 5px;
}

.info-title-bottom {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.info-content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 53.1250vw;
    min-width: 900px;
    height: 170px;
    background: darkkhaki;
    gap: 1.0417vw;
}

.info-content-box {
    width: 100px;
    height: 130px;
    border: 1px solid;
    cursor: pointer;
}

.info-content-icon {
    width: 100px;
    height: 80px;
}

.sea1 {
    background: url(../img/seaIcon01.png) no-repeat center;
}

.sea2 {
    background: url(../img/seaIcon02.png) no-repeat center;
}

.sea3 {
    background: url(../img/seaIcon03.png) no-repeat center;
}

.sea4 {
    background: url(../img/seaIcon04.png) no-repeat center;
}

.sea5 {
    background: url(../img/seaIcon05.png) no-repeat center;
}

.sea6 {
    background: url(../img/seaIcon06.png) no-repeat center;
}

.info-content-txt {
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
}

/* 해양정보 반응형 */
@media screen and (max-width:1180px) {
    .info-content-1 {
        width: 75.1953vw;
        min-width: 700px;

    }
}

@media screen and (max-width:1024px) {
    .info-content-1 {
        display: grid;
        width: 75.1953vw;

        min-width: 500px;
        height: 170px;
        padding: 0 20px;

    }
}

@media screen and (max-width:950px) {
    .info-title-top {
        margin: 12px 0 35px;
    }

    .info-top {
        height: 450px;
    }

    .info-title-1 {

        height: 270px;
    }

    .info-content-1 {
        grid-template-columns: 1fr 1fr 1fr;
        width: 53.6842vw;
        min-width: 400px;
        height: 270px;
        padding-left: 10.5263vw;
    }
}

@media screen and (max-width:768px) {

    .info-content-1 {
        min-width: 330px;
        height: 270px;
        padding-left: 6.5104vw;
        gap: 0;
    }

    .info-top {
        gap: 0;
    }
}

@media screen and (max-width:640px) {
    .info-content-1 {
        grid-template-columns: 1fr 1fr;
        width: 42.1875vw;
        min-width: 200px;
        padding-left: 0;
        margin-left: 4.6875vw;
        height: 410px;
    }

    .info-top {
        height: 530px;
        align-items: start;
        justify-content: flex-start;
        padding-top: 60px;
    }

    .info-title-1 {
        height: 410px;
    }
}












.info-bottom {
    width: 100%;
    height: 450px;
    background: darkorchid;

    display: flex;
    flex-direction: column;
}

.info-title-2 {
    width: 230px;
    padding-left: 20px;
}

.info-sns-box {
    width: 230px;
    height: 230px;
    background: #101e34;
    padding: 10px 0;
    margin-right: 20px;
}

.info-sns-seaStory,
.info-sns,
.info-sns-quick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    margin: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.info-sns-seaStory {
    background: #fff;
    color: #282828;
}

.info-sns-seaStory span::after {
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    height: 0;
    right: -10px;
    display: block;
    position: absolute;
    top: 14px;
    width: 0;
}

.info-sns-quick {
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.info-sns-quick span {
    margin: 0 13px;
}

.info-sns-quick-youtube,
.info-sns-quick-insta,
.info-sns-quick-facebook {
    font-size: 28px;
    margin: 0 6px;
    cursor: pointer;
}


.info-content-2 {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

/* 정보 스와이퍼 슬라이드 */
.info-posting-box .swiper {
    width: 850px;
    height: 100%;
}

.info-posting-box .swiper-slide {
    width: 270px !important;
    height: 230px !important;
    background: #000;
    text-align: center;
    font-size: 18px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.info-posting-box .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.info-posting-box .swiper-button-next,
.info-posting-box .swiper-button-prev {
    color: #fff !important;
}

@media screen and (max-width:1140px) {
    .info-posting-box .swiper {
        width: 560px;
    }

    .info-content-2 {
        width: 810px;
    }
}

@media screen and (max-width:850px) {
    .info-posting-box .swiper {
        width: 270px;
    }

    .info-content-2 {
        width: 67.7083vw;
        min-width: 400px;
    }

    .info-sns-seaStory,
    .info-sns,
    .info-sns-quick {
        width: 23.4375vw;
        min-width: 100px;
        font-size: 1.1rem;
    }

    .info-sns-quick span {
        display: none;
    }

    .info-sns-box {
        margin-right: 1.3021vw;
    }

}

@media screen and (max-width:850px) {
    .info-sns-box {
        /* width: 29.9479vw;
    min-width: 170px;
    margin-right: 2.6042vw; */
    }

}

/* 서비스 */
.service {
    position: relative;
    display: block;
    width: 100%;
    /* height: 100%; */
    background: darkgray;
}

.service .inner {
    background: darkred;
    display: flex;
    flex-direction: column;
}

/* 서비스 탑 */
.service-top {
    width: 100%;
    height: 520px;
    background: #647694;
    display: flex;
    gap: 1.3542vw;
    justify-content: center;
}

.service-news,
.service-notice {
    width: 21.8750vw;
    min-width: 350px;
    height: 520px;

    background: darkcyan;
}

.service-title {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 600;
    background: darkgreen;
    padding-left: 2.6042vw;
}

.service-title-line {
    width: 150px;
    height: 1px;
    background: #282828;
    margin: 0 17px;
}

.service-title a {
    font-size: 1.56rem;
}

.service-title span {
    text-decoration: overline 5px;
}

.service-content {
    width: 21.8750vw;
    min-width: 310px;
    height: 165px;
    background: darkkhaki;
    margin: 0 auto;
}

.service-content h5 {
    width: 320px;
    height: 50px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.35;
    margin-bottom: 15px;
}

.service-content p {
    width: 320px;
    height: 100px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.2;
}


.service-line {
    width: 320px;
    height: 1px;
    background: #727272;
    margin: 29.5px auto;
}



.service-menu {
    width: 19.7917vw;
    min-width: 270px;
    height: 520px;
    background: darkviolet;
}

.service-content-2 {
    width: 19.7917vw;
    min-width: 270px;
    height: 390px;
    background: darkseagreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
}

.service-content-menu {
    width: 7.2917vw;
    min-width: 125px;
    height: 35px;
    font-size: 1.25rem;
    cursor: pointer;
    text-align: center;
}


/* 서비스 탑 반응형 */
@media screen and (max-width : 1024px) {
    .service .inner {
        align-items: center;
    }

    .service-top {
        width: 84.5703vw;
        min-width: 715px;
        height: 860px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 1.9531vw;
    }

    .service-menu {
        width: 84.5703vw;
        min-width: 715px;
        height: 318px;
        grid-area: 2/1/4/-1;
    }

    /* .service-menu {
        width: 100%;
    } */

    .service-content-2 {
        width: 62.0117vw;
        min-width: 525px;
        height: 188px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
    }

    .service-news,
    .service-notice {
        width: 41.0156vw;
        height: 470px;
    }

    .service-content {
        width: 41.0156vw;
        height: 135px;
    }

    .service-title {
        height: 110px;
        padding-left: 4.8828vw;
    }
}

@media screen and (max-width : 768px) {
    .service-top {
        width: 420px;
        min-width: 0;
        height: 1600px;
        display: flex;
        flex-direction: column;
        gap: 1.9531vw;
    }

    .service-news,
    .service-notice {
        width: 420px;
        min-width: 0;
        height: 500px;
    }

    .service-menu {
        width: 420px;
        min-width: 0;
        height: 500px;
    }

    .service-content-2 {
        width: 380px;
        min-width: 270px;
        height: 390px;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


}















/* 서비스 미들 */
.service-middle {
    width: 100%;
    height: 400px;
    background: #101e34;
    padding: 50px 0 100px;
    margin: 0 auto;
}


/* 서비스 스와이퍼 슬아이드 */

.service-middle .swiper {
    width: 100%;
    height: 100%;
}

.service-middle .swiper-slide {
    width: 310px !important;
    height: 250px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-middle .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width:1300px) {
    .service-middle {
        width: 950px;
    }
}

@media screen and (max-width:1024px) {
    .service-middle {
        width: 630px;
    }
}

@media screen and (max-width:768px) {
    .service-middle {
        width: 310px;
    }
}










/* 서비스 바텀 */
.service-bottom {
    width: 100%;
    height: 100px;
    background: #fff;
}

.service-fam {
    display: flex;
    justify-content: center;
}

.service-fam-web {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.8333vw;
    height: 100px;
    font-size: 1.25rem;
}

.service-fam-web span {
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .service-fam-web {
        width: auto;
        font-size: 1.125rem;
    }

    .service-fam-web span {
        padding: 1.9531vw;
    }
}

@media screen and (max-width:768px) {

    .service-fam-web span {
        padding: 2.6042vw;
        line-height: 1.15;
    }
}





/* 하단 */
.footer {
    position: relative;
    display: block;
    background: darkgreen;
    width: 100%;
    height: 300px;
}






/* 모바일 메뉴탭. 완성되면 지우기!!!!!! */
@media screen and (max-width:1024px) {
    .mb-nav-list {
        display: none;
    }
}